body {
  background-color: #212121
}

table, th, td {
    border: 1px solid #AEEE98;
    border-collapse: collapse;
  }
  th {
    background-color: #212121;
    color: white;
  }

  td {
    background-color: #383838;
  }

  #plus_button {
    position: relative;
    left: 50%;
    margin-left: -25px;
  }