table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th {
    background-color: #0fadad;
    color: white;
  }

  td {
    background-color: #96D4D4;
  }

  #plus_button {
    position: relative;
    left: 50%;
    margin-left: -25px;
  }