.top-bit {
    /* Place at top left of cam */
    position: absolute;
    display: inline-block;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color: var(--text-color);
    background: var(--body-color);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    z-index: 2;
}

#cam-frame {
    position: fixed;
    top: var(--bar-height);
    left: 2em;
    height: calc(100% - var(--bar-height) - var(--event-height));
    width: calc(100% - 2em);
    background: var(--body-color);
}

#events-list {
    position: absolute;
    height: calc(var(--event-height) - 0.25em);
    width: calc(100% - 0.25em);
    background: var(--body-color);
    bottom: 0;
    padding-left: 0.25em;
    padding-top: 0.25em;
}

#selected-cam {
    position: absolute;
    left: 0;
    top: 0;
    width: 66.666%;
    height: 66.66%;
}

#side-col {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 33.3333%;
    height: 100%;
    right: 0;
}

#bottom-col {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    bottom: 0;
    width: 66.66667%;
    height: 33.3333%;
}

#bottom-col > .cam {
    flex: 50%;
    background: var(--body-color);
    border-top: 3px solid black;
    border-right: 3px solid black;
}

#side-col > .cam {
    flex: 33.33%;
    background: var(--body-color);
    border-top: 3px solid black;
    border-left: 3px solid black;
}

#side-col > .cam:first-of-type {
    border-top: 0;
}

#bottom-col > .cam:last-of-type {
    border-right: 0;
}

#drag-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    margin-top: -2px;
    background: rgba(0, 0, 0, 0.5);
}

.cam {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
}