body {
    --bar-width: 9rem;
    --bar-height: 3.5rem;
    --adaptive-width: 2em;
    --bar-color: lightgrey;
    font-family: 'Be Vietnam Pro';
}

#science-icon {
    width: var(--bar-width);
    height: var(--bar-height);
}

#top-bar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bar-height);
    background: var(--bar-color);
}

#side-bar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: var(--adaptive-width);
    overflow-x: hidden;
    white-space: nowrap;
    background: var(--bar-color);
    flex-direction: column;
    height: 100%;
    transition: 0.25s;
}

#side-bar:hover {
    width: var(--bar-width);
    transition: 0.25s;
}

#side-bar > a:first-of-type {
    top: 1em;
    margin-top: calc(var(--bar-height) + 1em);
}
#side-bar > a {
    font-size: 20px;
    padding-left: 0.25em;
    height: 2em;
    cursor: pointer;
    line-height: 2em;
    display: block;
    color: black;
    text-overflow: clip;
    text-decoration: none;
    transition: 0.25s;
}

#side-bar > a:hover {
    transition: 0.25s;
    background: chocolate;
}

#cover-frame {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: rgba(0, 0, 0, 0.5);
}

#side-bar:hover + #cover-frame {
    animation-name: cover;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    margin-left: var(--bar-width);
}

@keyframes cover {
    0% {
        opacity: 1;
        margin-left: 0;
    }
    100% {
        margin-left: var(--bar-width);
        opacity: 1;
    }
}

#side-bar > a > svg {
    width: 1.1em;
    height: 1.1em;
}

#body {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: var(--bar-height);
    width: calc(100% - 2em);
    height: calc(100% - var(--bar-height));
    margin-left: 2em;
    background: white;
}