body {
    --bar-width: 9rem;
    --bar-height: 3.5rem;
    --adaptive-width: 2rem;
    --text-color: #A9B1BC;
    --popup-color: #383838;
    --body-color: #212121;
    --main-color: #1E1D1E;
    --select-col: #1DDECB;
    --select-col-2: #AEEE98;
    --event-height: 10rem;
    font-family: 'Be Vietnam Pro';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--text-color);
}

#science-icon {
    width: var(--bar-width);
    height: var(--bar-height);
    filter: invert(100%);
}

#top-bar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
    color: var(--text-color);
    height: var(--bar-height);
    background: var(--main-color);
    box-shadow: 1px 1px 8px 3px #00000056;
}

#side-bar {
    position: fixed;
    left: 0;
    top: var(--bar-height);
    z-index: 3;
    width: var(--adaptive-width);
    overflow-x: hidden;
    white-space: nowrap;
    background: var(--main-color);
    flex-direction: column;
    height: calc(100% - var(--bar-height));
    transition: 0.25s;
    box-shadow: 1px 10px 8px 3px #00000056;
}

#side-bar:hover {
    width: var(--bar-width);
    transition: 0.25s;
}

#side-bar > a:first-of-type {
    margin-top: 1em;
}
#side-bar > a {
    font-size: 20px;
    padding-left: 0.25em;
    height: 2em;
    cursor: pointer;
    line-height: 2em;
    display: block;
    color: var(--text-color);
    text-overflow: clip;
    text-decoration: none;
    transition: 0.25s;
    margin-left: 0.15em;
}

#side-bar > a::before {
    content: '';
    position: absolute;
    display: block;
    width: .13em;
    height: 1em;
    background: transparent; /*var(--select-col-2);*/
    margin-top: 0.29em;
    margin-left: -4px;
    transition: 0.25s;
    border-radius: 7px;
}

#side-bar > a:hover::before {
    transition: 0.25s;
    background: var(--select-col-2);
}

#side-bar > a.selected::before {
    background: var(--select-col-2);
}

#cover-frame {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    transition: 0.25s;
    background: rgba(0, 0, 0, 0.5);
}

#side-bar:hover + #cover-frame {
    visibility: visible;
    opacity: 1;
}

#side-bar > a > svg {
    width: 1.1em;
    height: 1.1em;
}

#body {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: var(--bar-height);
    width: calc(100% - 2em);
    height: calc(100% - var(--bar-height));
    margin-left: 2em;
    z-index: -3;
}

#top-bar > .bi-border-outer {
    width: 1em;
    height: 1em;
    margin-left: 17.5em;
    padding-bottom: 0.25em;
}

#drag-top:hover {
    cursor: n-resize;
}


#top-bar > svg {
    width: 0.9em;
    height: 0.9em;
    margin-left: 0.5em;
    padding-bottom: 0.25em;
}

*[id^="hide_"] {
    display: none;
}