#body {
    background-color: #212121;
    padding-left: 2em;
    width: calc(100% - 2em - 2em);
}

#welcome {
    text-align: left; 
}

#user_info {
    text-align: left;
    margin-top: -100px;
    margin-left: calc(100px + 2em);
}

#profile-pic {
    border-radius: 50%;
    display: block;
    width: 100px;
    height: 100px;
    /* Use background image to position nicely */
    background-image: url("profile_pic_users_page.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#col-1 {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
    background-color: #282828;
    z-index: 1010101010
  }
  
  #col-2 {
    position: relative;
    width: 50%;
    float: right;
    height: 100%;
    background-color: #0080ff;
    z-index: 1010101010
  }